body {
    margin: 0;
    padding: 0;
    min-width: 500px;
    font-family: "poppins";
    border-radius: 100px;
    background-color: rgb(4, 14, 29);
    color: white;
}
::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-track{
    background: rgb(4, 14, 29);
}
::-webkit-scrollbar-thumb{
    background: rgb(7, 23, 46);
    border-radius: 5px;
}
img{
    border-radius: 10px;
}

button{
    width: 2.5%;
    border-radius: 10px;
    border: 0px;
    color: white;
    background-color: rgb(7, 23, 46);
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
    margin: 10px auto;
    text-align: center;
}
.refresh{
    text-align: center;
}
button:hover{
    box-shadow: 2px 2px white;
}

.header-div{
    margin: 20px auto;
    text-align: center;
    border: 0.5px solid gray;
    border-radius: 10px;
    width: 50%;
}

ul li{
    line-height: 2;
    background-color: rgb(7, 23, 46);
    margin: 20px 0;
    list-style: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 10px;
    
}
ul{
    margin: 20px 40px 20px 0;
}

